 <!-- Iterating through all the plants bookings -->
<% @bookings.each do |booking| %>
   <% if booking.review %>
    <div class="card p-4 mt-4">
      <span>
        <% booking.review.rating.times do %>
          <i class="fas fa-star"></i>
        <% end %>
      </span>
      <p>Comment: <%= booking.review.content %></p>
    </div>
  <% else %>
  <% end %>
<% end %>
