<div class="row ">
  <!-- New plant form -->
  <div class="col-lg-6 p-5">
    <%= render 'shared/plants/plant_form' %>
  </div>
  <!-- Plant image and page title -->
  <div class="col-lg-6 grey-obloid p-5">
    <h1>List a new plant!</h1>
    <div class="banner-image p-5">
      <%= image_tag asset_path("hero-plant.png"), class: "banner-image" %>
    </div>
  </div>
</div>

