html {
  scroll-behavior: smooth;
}

a, a:hover {
  text-decoration: none !important;
}

.plant-cards-container {
  width: 100%;
  display: grid;
  grid-gap: 20px 20px;
  align-content: top;
  grid-template-columns: auto auto auto;

}

.plant-card {
  transition: 0.5s;
  &:hover {
    box-shadow: 0px 0px 16px #B4B4B4;
  }
}

// Plant photo card
.plant-card-image-overlay {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%);
}

