<div class="card">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Location: <%= @plant.location %></h6>
    <p class="card-text">Description: <%= @plant.description %></p>
    <h5 class="badge badge-secondary"><%= @plant.category %></h5>
    <div>
      <hr>
      <img src="https://source.unsplash.com/random?profile/" width="30" height="30" class="rounded-circle float-left" alt="">
      <p class="card-text">&nbsp; &nbsp;<%= "#{@plant.user.first_name} #{@plant.user.last_name}"%></p>
    </div>
  </div>
</div>
