<!-- show search results banner -->
<div class="col-md-6">
  <h1>Browse the best plants</h1>
</div>
<div class="col-md-6 d-flex justify-content-end">
  <%= render 'shared/plants/plant_index_search' %>
</div>
