<!-- Hero banner row: 1. Title, text and search bar 2. Banner Image -->
<div class="row grey-obloid d-flex align-items-center pt-4">
  <!-- 1. Banner Title h1 -->
  <div class="col-md-6 justify-content-center p-4">
    <!-- Title -->
    <div class="text-left p-4">
      <h1>Find your green. All the best plants in one place… </h1>
    </div>
    <div class="justify-content-center p-4">
      <div class="mt-4">
        <h5>Every plant has a place, time to find yours</h5>
        <p class="font-weight-light">Create a world where people plant to make a life, not just a plant. Create a world where people life to make a plant, not just a planting.</p>
      </div>
    </div>
    <!-- Banner search card -->
    <div class="justify-content-center p-2">
      <div class="card pb-5 pt-5 border-0 shadow-lg text-center brand-borders">
        <h3 class="pb-2">Find a plant</h3>
        <%= render 'shared/plants/plant_index_search' %>
      </div>
      <div class="mt-4 d-flex justify-content-center w-100">
        <%= link_to "Search by location", "/#map-row" %>
      </div>
    </div>
  </div>
  <!-- 2. Banner image -->
  <div class="col-md-6 mb-n3">
    <div class="banner-image">
      <%= image_tag asset_path("hero-plant.png"), class: "banner-image" %>
    </div>
  </div>
</div>

